# Maven / Gradle
target/
build/

# IDEs
.idea
*.iml
*.iws
*.ipr
.classpath
.project
.settings
.springBeans
.sts4-cache
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Spring profiles (NÃO o principal)
application-*.properties
application-*.yml
